
.add-motorcycle-div {
    display: inline-block;
    width: 200px;
    left: 20px;
    z-index: 10;
    position: relative;
}

.add-motorcycle-inputs {
    background: white;
    display: inline-block;
    border-radius: 6px;
    border: 0.5px solid black;
}

.add-motorcycle-inputs label {
    color: black;
    padding: 10px;
}

.add-motorcycle-inputs input{
    border-radius: 3px;
    height: 31px;
}
#add-motorcycle-btn {
    margin: 18px;
}


#add-motorcycle-popup-btn {
    margin: 21px;
}


