

.section__table {
    display: table;
    width: 100%;
    background-color: #F8F8FF;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}


th {
    padding: 12px;
    background: #2f3e46;
    border-style: none;
    font-size: larger;
}


th:not(:last-child) {
    border-right: 1px solid black;
}

tbody tr {
    color: black;
}